.week_card {
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.week_card__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.week_card__left-circle {
    background-color: #908e8e;
    width: 1.5rem;
    height: 1.7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week_card__lightning-icon, .week_card__check-icon {
    width: 1rem;
    fill: #ffffff;
    stroke: #fff;
}

.week_card__left-line {
    height: 100%;
    width: 2px;
}

.week_card__left-line.gray {
    background-color: #c2c2c2;
}

.week_card__right {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.week_card__right-title {
    margin-top: 0.6rem;
    font-size: 0.7rem;
}

.week_card__right-days, .week_card__right-days-skeleton {
    display: flex;
    align-items: center;
    width: 88%;
    gap: 0.5em;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    height: fit-content;
}

.week_card__right-days {
    position: relative;
}

@keyframes summonAfter {
    0% {
      opacity: 0;
    }
    95% {
        opacity: 0;
      }
    100% {
      opacity: 1;
    }
  }
  
@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.week_card__right-days.locked {
    pointer-events: none;
}

.week_card__right-days.current {
    background-color: rgb(249, 249, 249);
    pointer-events: all;
}

.week_card__right-days.current > .week_card__right-days-day-circle {
    color: #000;
}

.week_card__right-days.female {
    border: 2px dashed #f778ba;
}

.week_card__right-days-day-circle {
    padding: 1em;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.week_card__right-days-skeleton {
    background-color: #c2c2c2;
}

.week_card__right-days-day-circle {
    color: inherit;
    text-decoration: none;
}

.week_card__right-days-day-circle-skeleton {
    width: 4rem;
    height: 4rem;
}

.week_card__right-days-day-circle.gray {
    border: 2px solid #c2c2c2;
} 

.week_card__right-days-day-circle.finished {
    background-color: white;
    color: black;
    pointer-events: none;
}

.week_card__right-days-day-circle.marked {
    color: white;
    pointer-events: none;
    border: 2px solid white;
}

.week_card__right-days-day-circle.dashed-male {
    border: 2px dashed #0054ff;
}

.week_card__right-days-day-circle.dashed-female {
    border: 2px dashed #f778ba;
}

.week_card__day-right-icon {
    width: 1.2rem;
    fill: #c2c2c2;
}

.week_card__day-right-icon.finished {
    fill: white;
}

.week-trophy {
    width: 2rem;
}

.week-trophy.yellow {
    fill: #ffac33;
}

.week-trophy.yellow.highlighted {
    stroke: white;
}

.week-trophy {
    fill: #c2c2c2;
}