
    #gender-prompt {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        overflow-x: hidden;
    }
    
    #gender-prompt-svg-container {
        position: relative;
        height: 80%;
    }

    #male-workout-icon, #female-workout-icon {
        height: 100%;
        cursor: pointer;
        transition: 500ms;
    }
    
    #gender-prompt-button-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .gender-prompt-button-container-button {
        padding: 0.5em 1em;
        font-size: 1rem;
        background-color: #6c63ff;
        color: white;
        font-weight: 500;
        border-radius: 40px;
        border: 1px solid white;
        font-family: 'Poppins', serif;
        position: relative;
        z-index: 3;
    }
    
    #gender-prompt-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', serif;
        line-height: 1.5rem;
    }

    #gender-prompt-message-title {
       font-size: 1.3rem; 
    }

    #next-button {
        text-decoration: none;
        background-color: #6c63ff;
        padding: 0.75em 1.2em;
    }
