.exercise-item {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    background-color: inherit;
    border-bottom: 1px solid #908e8e55;
    cursor: pointer;
}

.exercise-item__drag-icon {
    width: 1.2rem;
    opacity: 50%;
}

.exercise-item__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise-item__center {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: "Poppins";
    padding: 1.5em 0;
}

.exercise-item__center-exercise-name {
    font-size: 1rem;
}

.exercise-item__center-exercise-settings {
    display: flex;
    gap: 5px;
}

.exercise-item__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise-item__right-link {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.exercise-item__right-play-icon {
    width: 1.5rem;
    height: fit-content;
}

